body {
    padding: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

/*mobile first*/


#lista-de-tarefas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

    /*media query*/
    
    @media (min-width: 768px) {
        #lista-de-tarefas {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    @media (min-width: 1024px) {
        #lista-de-tarefas {
            grid-template-columns: repeat(3, 1fr);
        }
    }
